h1{
  text-align: center;
  color: red;
  font-size: 60px;
}
.flex-container{
  flex-direction: row;
  display: flex;
  background-color: yellow;
  width: 600px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.flex-item{
  background-color: white;
     width: 40px;
     height: 40px;
     margin: 4px;
     color: white;
 }
 button {
  display: block;
  margin-left: 2px;
  padding: 10px;
  background-color: yellow;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  box-shadow: 1px 1px 1px 1px gray
  height: 10px;
  width: 28px;
}
button:hover {
  color: white;
  background: orange;
}
#lettertable{
  margin: auto;
  background-color: teal;
}
.wordsused{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
